:root.theme-dark {
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --button-hov-color: #ff007066;
  --dec_el_color: #ff0070;
  --headline-color: #db00ff;
  --decor-text-color: #000028;
  --bg-img: url("../images/cover-image-dark.png");
  --bckg-color: #000028;
}
.theme-dark .header__rec-element {
  display: block;
}
