:root {
    --page__row-gap:60px;
    --padding-inline: 20px;
    --font-size_header-footer: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

.header {
    padding-block-start: var(--padding-inline, 20px);
    padding-inline-start: 0;
}

.header__rec-element {
    inset-block-start: 21px;
    inset-inline-end: 28px;
}

.header__theme-menu {
    justify-self: center;
    align-self: start;
}

.header__theme-menu-list {
    flex-direction: row;
}

.headline {
    font-size: var(--font-size_header-footer, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
}

.header__text-container {
    padding-inline-start: var(--padding-inline, 20px);
    grid-template-columns: 1fr 1fr;
}

.header__text {
    grid-column: 2;
}

.section_why-difficult {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content;
    gap: 20px;
}

.section_why-difficult .card-article {
    grid-column: 2;
}

.section_what_degradate {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
}

.section_what_degradate .section-title {
    grid-row: 1;
    grid-column: 1;
}

.section_what_degradate .card-article {
    grid-row: 2;
}

.section_how_concentrate {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: min-content min-content;
    gap: 20px;
}

.section_how_concentrate .section-title {
    grid-column: 1;
    grid-row: 1 / -1;
}

.section_how_concentrate .card_title {
    grid-column: 2;
    grid-row: 1;
}

.section_how_concentrate .card-article {
    grid-column: 2;
}